.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.projects {
  display: grid;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.projectCard {
  height: 200px;
  width: 400px;
  border: 1px solid #000;
  border-radius: 10px;
}

.projectCard .header {
  height: 60px;
}

.projectCard .footer {
  height: 60px;
}
