.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.projectCard {
  height: 200px;
  width: 200px;
  border: 1px solid #000;
  border-radius: 10px;
}
