.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.projects {
  display: grid;
  gap: 15px;
  width: 100%;
  padding: 20px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.projectCard {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.projectCard .header {
  height: 60px;
  background-color: #102e9e;
}

.projectCard .footer {
  height: 60px;
  background-color: #f8f7fc;
}


@media (min-width: 1200px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}